<table class="table table-striped table-hover">
    <tr>
        <th>No</th>
        <th>Item Code</th>
        <th>Name</th>
        <th>Documentation and Guide</th>
    </tr>

    {% assign items = site.data.stations[page.stationId] %}
    {%- for item in items -%}
    <tr>
        <td></td>
        <td>{{ item.item_code }}</td>
        <td>{{ item.name }}</td>
        <td>
            <!-- Documaentation -->
            {%- if item.guide.doc != "#" -%}
            <span class=""><a href="{{ item.guide.doc }}">Documentation</a></span>
            {%- endif -%}

            <!-- Gloves -->
            {%- if item.guide.gloves != "#" -%}
            <span class="fa"><img src="{{ '/assets/img/support/' | relative_url }}" alt="Gloves"></span>
            {%- endif -%}

            <!-- Googles -->
            {%- if item.guide.googles != "#" -%}
            <span class="fa"><img src="{{ '/assets/img/support/' | relative_url }}" alt="Goggle"></span>
            {%- endif -%}
        </td>
    </tr>
    {%- endfor -%}
</table>