---
layout: wrappers_table
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    {% include meta.html %}

    <title>{{ page.title }}</title>

    {% include header.html %}
    <link href="{{ '/assets/css/home.css' | relative_url }}" rel="stylesheet">
</head>

<body>
    <header class="blog-header pb-1">
        <div class="container">
            <div class="row flex-nowrap0 align-items-center">
                <div class="col-sm-2 col-4 pt-1">
                    <img class="mx-auto d-block img-fluid p-2"
                        src="{{ '/assets/img/crest_0.png' | prepend: site.baseurl }}" alt="Logo">
                </div>
                <div class="col-sm-10 col-8">
                    <div class="p-0">
                        <a class="blog-header-logo text-white text-decoration-none" href="#">
                            <b>ESCAL MakerSpace</b><br>
                            <small class="small d-none d-sm-none d-md-block">
                                Department of Computer Engineering, University of Peradeniya, Sri Lanka
                            </small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Home Carousel -->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% assign i = 0 -%}
            {% for slide in site.data.carousel -%}
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ i }}"
                class="{% if forloop.first %} active{% endif %}" aria-current="{% if forloop.first %} true{% endif %}"
                aria-label="Slide {{ i }}"></button>
            {% assign i = i | plus:1 -%}
            {% endfor -%}
        </div>
        <div class="carousel-inner">
            {% for slide in site.data.carousel -%}
            <div class="carousel-item{% if forloop.first %} active{% endif %}" data-bs-interval="{{ slide.interval }}">
                <img src="{{ slide.image }}" class="d-block w-100" alt="{{ slide.alt }}">
                <div class="carousel-caption d-none d-md-block {% if slide.dark==true %}text-dark{% endif %}">
                    <div class="p-1" style="background-color: rgba(255, 255, 255, .35); ">
                        <h5>
                            <b>
                                {{ slide.title }}</br>
                                <small><i>{{ slide.subtitle }}</i></small>
                            </b>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor -%}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    {% include navbar.html %}

    <div class="container vh-75">
        <div class="row">
            <div class="container col-sm-12 col-md-10 col-lg-10 mx-auto mt-3 py-2">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
    <script src="/assets/js/holder.min.js"></script>
</body>

</html>